@{
    var link = "block px-5 py-2.5 text-sm text-slate-300 hover:bg-edge/60 hover:text-white transition";
    var active = "bg-edge text-white border-l-2 border-accent";
}
<nav class="py-2 flex-1">
    <NavLink class="@link" ActiveClass="@active" href="" Match="NavLinkMatch.All">Cockpit</NavLink>
    <NavLink class="@link" ActiveClass="@active" href="publish">Sign &amp; Publish</NavLink>
    <NavLink class="@link" ActiveClass="@active" href="settings">Settings</NavLink>
</nav>
